<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desafio clase 8 -Joaquin Somoza - C16860</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap" rel="stylesheet" />

    <script src="../app.js"></script>
    <link rel="stylesheet" href="../public/css/style.css">


</head>

<body>
    <!-- Inicio del header -->
    <header class="flex__header">
        <h1 id="titulo">Turnez</h1>
    </header>

    <!-- Inicio del main -->
    <main>
        <section>
            <input type="text" name="dia" id="dia" value="">
            <input type="number" name="hora" id="hora" value="">
            <script>
                dia = prompt("Ingrese que día necesita reservar");
                document.getElementById("dia").value = dia;
                hora = prompt("Ingrese una hora de preferencia");
                document.getElementById("hora").value = hora;
            </script>
        </section>
        <section>
            <h2>Horas de los turnos ocupados:</h2>
            <ul id="otorgados" class="lista__horario">
            </ul>
            <script>
                let padre = document.getElementById("otorgados");
                let horasOtorgadas = ["12", "13", "14", "15"];
                for (const horasOcupadas of horasOtorgadas) {
                    let li = document.createElement("li");
                    li.innerHTML = `${horasOcupadas} hs`
                    padre.appendChild(li);
                }
            </script>
        </section>
        <section class="flex__section">
            <img src="../public/img/fila1.jpg" alt="fila">
            <div id="principal">
                <h2 id="subtitulo1">Rápido</h2>
                <p id="parrafo1" class="clase__prueba">En simples pasos evitará hacer filas extensas</p>
            </div>
        </section>
        <section class="flex__section">
            <img src="../public/img/silla2.jfif" alt="sillas">
            <div>
                <h2 id="subtitulo2">Amplio</h2>
                <p id="parrafo2" class="clase__prueba">Mayor cantidad de turnos debido a la efectividad</p>
            </div>
        </section>
        <section class="flex__section">
            <img src="../public/img/filavacia.jfif" alt="sala">
            <div>
                <h2 id="subtitulo3">Tranquilo</h2>
                <p id="parrafo3" class="clase__prueba">Evitas la aglomeración de personas en un mismo espacio.</p>
            </div>
        </section>
    </main>

    <!-- Inicio del footer -->
    <footer>
        <section class="iconos__footer flex__footer">
            <div>
                <i class="bi bi-hand-thumbs-up"></i>
                <h4>Es muy facil</h4>
                <p>Solo te llevará unos minutos</p>
            </div>
            <div>
                <i class="bi bi-pen"></i>
                <h4>Completá los campos</h4>
                <p>Solo tienes que cargar la informacion en los campos que van apareciendo</p>
            </div>
            <div>
                <i class="bi bi-check-square"></i>
                <h4>Obtené tu turno</h4>
                <p>Ya está, el turno es tuyo.</p>
            </div>

        </section>
        <p class="copyright">Copyright © 1999-2020 Turnez S.R.L.</p>
        <p id="joaquin">Creador:</p>
    </footer>


    <script>
        let primerH2 = document.getElementById("subtitulo1");
        console.log(primerH2.innerHTML);
        let segundoH2 = document.getElementById("subtitulo2");
        console.log(segundoH2.innerHTML);
        let tercerH2 = document.getElementById("subtitulo3");
        console.log(tercerH2.innerHTML);
    </script>

    <script> let probandoClase = document.getElementsByClassName("clase__prueba");
        for (let i = 0; i < probandoClase.length; i++) {
            console.log(probandoClase[i].innerHTML);
        }
    </script>

    <script> let primerFooter = document.createElement("div");
        primerFooter.innerHTML = "<h4>Joaquin Somoza</h4>";
        document.body.appendChild(primerFooter);
    </script>

    <script>        let borrar = document.getElementById("joaquin");
        borrar.parentNode.removeChild(borrar);
    </script>

</body>




</html>