<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Primer entrega trabajo final-Joaquin Somoza - C16860</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap" rel="stylesheet" />

    <script src="../app.js"></script>
    <link rel="stylesheet" href="../public/css/style.css">
</head>

<body>
    <!-- Inicio del header -->
    <header class="flex__header">
        <h1>Turnez</h1>
    </header>

    <!-- Inicio del main -->
    <main>
        <section class="flex__section">
            <img src="../public/img/fila1.jpg" alt="fila">
            <div>
                <h2>Rápido</h2>
                <p>En simples pasos evitara hacer filas extensas</p>
            </div>
        </section>
        <section class="flex__section">
            <img src="../public/img/silla2.jfif" alt="sillas">
            <div>
                <h2>Amplio</h2>
                <p>Mayor cantidad de turnos debido a la efectividad</p>
            </div>
        </section>
        <section class="flex__section">
            <img src="../public/img/filavacia.jfif" alt="sala">
            <div>
                <h2>Tranquilo</h2>
                <p>Evitas la aglomeración de personas en un mismo espacio.</p>
            </div>
        </section>
    </main>

    <!-- Inicio del footer -->
    <footer>
        <section class="iconos__footer flex__footer">
            <div>
                <i class="bi bi-hand-thumbs-up"></i>
                <h4>Es muy facil</h4>
                <p>Solo te llevará unos minutos</p>
            </div>
            <div>
                <i class="bi bi-pen"></i>
                <h4>Completá los campos</h4>
                <p>Solo tienes que cargar la informacion en los campos que van apareciendo</p>
            </div>
            <div>
                <i class="bi bi-check-square"></i>
                <h4>Obtené tu turno</h4>
                <p>Ya está, el turno es tuyo.</p>
            </div>

        </section>
        <p class="copyright">Copyright © 1999-2020 Turnez S.R.L.</p>
    </footer>
</body>




</html>